html {
    background-color: #F2D0D9;
}

body {
    font-size: 16px;
    /* margin: 10px; */
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .04)
}


section {
    padding-top: 3em;
    padding-bottom: 3em;
}

header {
    width: 100%;
    height: 136px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav {
    padding: 1em 0;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 auto;
}

nav div {
    margin: 10px 20px;
}

nav div {
    text-decoration: none;
    color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div:hover {
    text-decoration: none;
    color: #F2ACC6;
    cursor: pointer;
}

#main-logo-wrapper {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.cover-background {
    background: url('../assets/images/backg1.jpeg') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.cover-background:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(242, 223, 226, .15);
}

#portrait-wrapper {
    display: block;
    position: relative;
    /* width: 200px;  */
    max-width: 200px;
    width: 100%;
    height: 200px;
    background-color: #F2DFE2;
    margin: auto;
}

#portrait-wrapper:after {
    content: "";
    display: table;
    clear: both;
    }

#portrait {
    position: absolute;
    width: 230px;
    right: -15px;
    top: -15px;
    border-radius: 115px;
    background-color: #F2F2F2;
}

#name-b {
    font-size: 36px;
    /* font-family: 'Pacifico', sans-serif; */
    /* font-family: 'Dancing Script', sans-serif; */
    font-family: 'Satisfy', sans-serif;
}

#lucy-info {
    padding: 3em 1em 0 1em;
    max-width: 250px;
}



#occupation {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    color: rgba(0, 0, 0, .7);
}

#social-media img {
    width: 28px;
    height: 25px;
}

.title {
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Roboto', sans-serif;
    padding: 0 10px 15px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4em;
}

.work-card {
    /* border: solid #e9e9e9 1px; */
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .03);
    background-color: white;
    height: 100%;
    transition: .3s;
}

.work-card:hover {
    transform: translate(0px, -5px);
    box-shadow: 1px 5px 15px 6px rgba(0, 0, 0, .04);
}

.work-head {
    display: table;
    text-align: center;
    font-weight: 400;
    min-height: 4em;
    overflow: hidden;
    border-bottom: solid #d9d9d9 1px;
    font-size: 1.6em;
    width: 100%;
    padding: 5px;
    background-color: #f8f8f8;
    font-family: 'Quicksand', sans-serif;

}

@media only screen and (max-width: 991px) {
    .work-head {
        min-height: 80px;
    }
}

.work-head :first-child {
    display: table-cell;
    vertical-align: middle;
}

.work-body ul {
    list-style-type: none;
    padding: 10px 4px;
    overflow: hidden;
    display: table;
    color: #696969;
}

.work-body li {
    padding: 10px 4px;
}

.work-body li:not(:first-child) {
    border-top: solid #e3e3e3 1px;
}


.cards {
    display: flex;
    align-items: stretch
}

.pad {
    margin-top: 1rem;

}

.card-body {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}


.card-title-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 130px;
    /* background-image: url('../assets/images/10_19_backtrack1.jpg'); */
    background-size: cover;
    background-position: center;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: .5em;
}

.card-content {
    width: 100%;
    padding: 0 1.2em;
    font-family: 'Quicksand', sans-serif;
}

.card-info {
    display: flex;
    flex-direction: row;
    padding: 1.2em 1.2em 1em 1.2em;
    margin-top: auto;
}

.card-logo-wrapper {
    width: 50%;
    height: 20px;
    /* padding-left: 1.2em; */

    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden
}

.card-logo {
    /* flex-shrink: 0; */
    max-width: 100%;
    height: 100%
}

.card-info-date {
    color: rbg(0, 0, 0);
    opacity: .6;
    font-size: 14px;

}

@media screen and (max-width: 991px) {
    #lucy-info {
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    #lucy-info {
        text-align: center;
    }
}